fastapi
uvicorn
pydantic
pydantic-settings
email-validator
sqlalchemy
alembic
python-multipart
python-jose[cryptography]
psycopg2-binary
asyncpg
python-dotenv
aiofiles
jinja2
passlib[bcrypt]
rich
sqlparse